<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <!--这里需要加utf-8，否则以后查中文的时候，都会返回Null-->
                <property name="url" value="jdbc:mysql://localhost/game?allowMultiQueries=true&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;useSSL=true"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/RoleMapper.xml"/>
        <mapper resource="mapper/StateMapper.xml"/>
        <mapper resource="mapper/MapMapper.xml"/>
        <mapper resource="mapper/BackpackMapper.xml"/>
        <mapper resource="mapper/EquipmentMapper.xml"/>
        <mapper resource="mapper/GangMemberEntityMapper.xml"/>
    </mappers>
</configuration>