<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.backpack.mapper.BackpackMapper">
<!--    通过id查找goods-->
    <select id="getGoodsById" resultType="com.game.backpack.bean.Goods">
        select id,name,count,role_id,type from backpack where id=#{id}
    </select>
<!--    通过角色id找物品-->
    <select id="getGoodsByRoleId" resultType="com.game.backpack.bean.Goods">
        select id,name,count,role_id,type from backpack where role_id=#{roleId}
    </select>
<!--增加物品-->
    <insert id="insertGoods" parameterType="com.game.backpack.bean.Goods">
        insert into backpack(name,count,role_id,type) values(#{name},#{count},#{roleId},#{type})
    </insert>
<!--    更新物品数量(加)-->
    <update id="updateGoodsByRoleId" parameterType="java.lang.Integer">
        update backpack set count=count+1 where role_id=#{roleId} and id=#{goodsId}
    </update>
    <!--    更新物品数量（减）-->
    <update id="updateGoodsByRoleIdDel" parameterType="java.lang.Integer">
        update backpack set count=count-1 where role_id=#{roleId} and id=#{goodsId}
    </update>
<!--查询角色拥有的物品数量-->
    <select id="getExistedGoodsCountsByRoleId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(role_id) as rolecount from backpack where role_id=#{roleId}
    </select>
</mapper>