<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.event.mapper.RoleCountMapper">
    <select id="queryCount" resultType="java.lang.Integer">
        select count from roleCount where roleId = #{roleId}
    </select>
    
    <update id="updateCount" parameterType="java.lang.Integer">
        update roleCount set count = #{count} where roleId = #{roleId};
    </update>

    <insert id="insert" parameterType="java.lang.Integer">
        insert into roleCount values(#{roleId},#{count})
    </insert>
</mapper>