<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.task.mapper.TaskMapper">
    <select id="queryTask" resultType="com.game.task.bean.RoleTask">
        select * from roletask where roleId=#{id}
    </select>

    <update id="updateTask" parameterType="com.game.task.bean.RoleTask">
        update roletask set receivedTask=#{receivedTask},finishedTask=#{finishedTask},count=#{count} where roleId=#{roleId}
    </update>

    <insert id="insertTask" parameterType="com.game.task.bean.RoleTask">
        insert into roletask(roleId,receivedTask) values (#{roleId},#{receivedTask})
    </insert>
</mapper>